<article class="password">
  <form class="password-form" [formGroup]="passwordForm">
    <div class="password-group">
      <label for="password" class="password-label">Form password</label>
      <input
        type="password"
        id="password"
        placeholder="password"
        class="password-input"
        formControlName="password"
      />
    </div>
    <div class="password-section-container wrapper">
      <div
        class="password-strength"
        [class.invalid]="applyDefault()"
        [class.easy]="applyEasy()"
        [class.medium]="applyMedium()"
        [class.strong]="applyStrong()"
      ></div>
      <div
        class="password-strength"
        [class.invalid]="applyDefault()"
        [class.medium]="applyMedium()"
        [class.strong]="applyStrong()"
      ></div>
      <div
        class="password-strength"
        [class.invalid]="applyDefault()"
        [class.strong]="applyStrong()"
      ></div>
    </div>
  </form>
</article>
